body {
  background-image: url(/img/bg-noise.png);
  background-position: center;
  background:linear-gradient(#0677c2,#200a48) ;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  line-height: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  align-items: center;
}

#btn-menu{
  display: none;
}

.menu {
  display: flex;
}

.menu li a {
  display: block;
  padding: 1.4rem;
  transition: all 250ms linear 0s;
}
.menu li a:hover {
  background: rgba(18, 131, 184, 0.15);
}

.logo-left {
  display: flex;
  justify-content: center;
}

.logo-left img {
  padding: 0 5px;
}

.logo-left a {
  font-weight: 700;
  padding: 15px 0;
}

.email {
  font-weight: 700;
}

/*Seção aparesentação*/
#topo .container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  max-width: 1080px;
  margin: auto;
}

.apresentacao {
  font-weight: 600;
  font-size: 52px;
  line-height: 61px;
}

.topo-info p {
  padding: 20px 0;
}

.icon {
  width: 368px;
  height: 368px;
  object-fit: cover;
}

.topo-info img {
  width: 16px;
  height: 16px;
}

.topo-info a {
  margin-right: 32px;
}

.seta {
  margin-left: 4px;
}

/*Seção sobre-mim*/

#sobre-mim .container {
  width: 90%;
  max-width: 1080px;
  margin: auto;
}

#sobre-mim {
  padding: 60px 0;
}
.titulo-sobre {
  font-size: 32px;
  font-weight: bold;
  color: #eaf2fd;
}

.paragrafo {
  margin-top: 16px;
  width: 700px;
  height: 133px;
  color: #eaf2fd;
}

.assinatura{
  margin-top: 15px;
}

/*Seção skills e hobbies*/

.titulo-section {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-top: 82px;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.bloco-skills {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 156px;
  height: 154px;
  padding: 16px;
  box-shadow: rgba(255, 255, 255, 0.363) 0px 0px 1.2px inset,
    rgba(255, 255, 255, 0.123) 0px 0px 14.1107px inset;
  border-radius: 15px;
  background: transparent;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(1.5px);
}

.bloco-skills img {
  width: 23px;
  height: 37px;
  z-index: 1;
}

.bloco-skills p {
  font-weight: bold;
  margin-top: 8px;
  z-index: 1;
}

/*formação academica*/

.formacoes {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.form {
  width: 368px;
  height: 286px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  box-shadow: rgba(255, 255, 255, 0.363) 0px 0px 1.2px inset,
    rgba(255, 255, 255, 0.123) 0px 0px 14.1107px inset;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(1.5px);
  background: rgba(255, 255, 255, 0.021);
}

.form img {
  width: 190px;
}

.curso {
  font-weight: bold;
  margin-top: 10px;
}

.ano {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
}

/*experiencia*/
.div-exp {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: 32px 0;
}

.image img {
  width: 700px;
  height: 406px;
  border-radius: 15px;
}

.info h2 {
  font-size: 22px;
  font-weight: bold;
}

.info p {
  margin: 8px 0;
  font-size: 16px;
}

.info a {
  display: inline-block;
  padding: 13px;
}
.repos {
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  border-radius: 3px;
}

.demo {
  margin-left: 8px;
  background: #2a7ae4;
  color: white;
  border-radius: 3px;
}

.container .exp2 > div:first-child {
  order: 2;
}

/*Contato*/

#contatos .container {
  width: 90%;
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.contato {
  padding: 10% 0;
}

.formulario {
  padding-bottom: 32px;
}

.formulario h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 8px 0;
}

.formulario p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.formulario button {
  background: #2a7ae4;
  color: white;
  padding: 16px;
  border: none;
}

input,
textarea {
  display: block;
  width: 80%;
  padding: 20px 25px;
  margin: 32px 0;
  border-radius: 3px;
  border: none;
  resize: none;
  box-shadow: rgba(255, 255, 255, 0.363) 0px 0px 1.2px inset,
    rgba(255, 255, 255, 0.123) 0px 0px 14.1107px inset;
  background: #ffffff09;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(1.5px);
  color: #eaf2fd;
}

/*footer*/
.footer {
  box-shadow: rgba(255, 255, 255, 0.363) 0px 0px 1.2px inset,
    rgba(255, 255, 255, 0.123) 0px 0px 14.1107px inset;
  background: transparent;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(1.5px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.footer h2,
p {
  font-size: 16px;
  font-weight: 500;
}


/*Media query*/



@media (max-width: 768px) {
  header .container{
    height: 70px;
  }
  .logo-left a{
    font-size:1.2rem ;
  }
  .menu{
    display: block;
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0px;
    background: #0a0522;
    height: 0px;
    transition: .6s;
    z-index: 10000;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active .menu{
    height:100vh;
    visibility: visible;
    overflow-y: auto;
  }
  .menu a{
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .menu li{
    border-bottom:2px solid rgba(255, 255, 255,.051);
  }

  #btn-menu{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    color: #eaf2fd;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburguer{
    color:#eaf2fd;
    width: 20px;
    border-top: 2px solid;
    display: block;
  }
  #hamburguer::after, #hamburguer::before{
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburguer{
    border-top-color: transparent;
  }
  #nav.active #hamburguer::after{
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::before{
    transform: rotate(-135deg);
    top: 7px;
  }

  /*topo*/
  #topo .container{
    flex-direction: column;
    width: auto;
    margin: auto;
    padding:0 15px;
  }

  #topo .container  > div:first-child{
    order: 2;
  }

  .apresentacao{
    font-size: 24px;
    line-height: 1.2;
    padding: 15px 0;
  }

  .links a{
    font-size: 15px;
    margin-right: 10px;
  }
  .links img{
    width: 9px;
    height: 9px;
  }
  .icon{
    width: 120px;
    height: 120px;
  }

/*sobre-mim*/
#sobre-mim .container{
  display: block;
  flex-direction: column;
}

.paragrafo {
    width: auto;
}
 
}
